h1 {
    font-family: 'Fredoka One', cursive;
    color: #e47f85;
    text-align: center;
    text-shadow: 2px 2px black;

}

h2 {
    font-family: 'Fredoka One', cursive;
    color: #e47f85;
    text-shadow: 2px 2px black;
    padding-top: 1rem;
}   

h3 {
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px black;
}

p {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #639191;
    color: white;
    position: relative;
}

nav {
    background-color: #e47f85;
    display: flex;
    width: 100%;
    min-height: 30px;
    border-bottom: white 1.5px solid;
    padding: 1rem 0;
    position: fixed;
    top: 0;
}

nav #navlinks a:hover {
    color: #639191;
    background-color: white;
}

nav #navlinks a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

.banner {
    width: 100%;
    background-image: url("https://github.com/emilyschell/emilyschell.github.io/blob/b3fe208df1e8e1103ef6de8c566d3cfede87a511/Images/BG%202.JPG");
    background-position:bottom;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#gallery,
#contact {
    background-color: #e47f85;
    border-bottom: solid white 1.5px;
    border-top: solid white 1.5px;
}

.imagecontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#about {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: disc;
    font-family:'Roboto', sans-serif;
    margin-left: 3rem;
    font-size: 2rem;
    padding: 1rem 0;
}

#contact {
    padding: 2rem 0;
}

#contact p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

#copyright {
    text-align: end;
    font-size: 1rem;
    padding: 2rem 1rem;
}


@media only screen and (min-width: 1024px) {

    nav #navlinks a {
        font-size: 1.5rem;
        padding: 1rem 4rem;
    }

    .banner {
    min-height: 35rem;
    }

    .overlay {
    min-height: 35rem;
    }

    #about,
    #gallery {
    padding: 3.75rem 2rem 2rem;
    }

    #events,
    #contact {
        padding: 2rem;
    }

    #about img {
        height: 25rem;
        margin: 1rem;
        border: 1px solid white;
        margin-right: 2rem;
    }

    #gallery img {
        min-height: 10rem;
        max-height: 25rem;
        margin: 1rem;
        border: 1px solid white;
    }

    .imagecontainer {
        margin: 2rem auto;
    }
    
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }

    #gallery p,
    #about p {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

}

@media only screen and (min-width: 555px) and (max-width: 1024px) {

    nav #navlinks a {
        font-size: 1rem;
        padding: 1rem 1.75rem;
    }

    .banner {
        min-height: 20rem;
        margin-top: 4rem;
    }

    .overlay {
        min-height: 20rem;
        }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        padding-bottom: .5rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #about,
    #gallery {
        padding: 4rem 1.25rem 1.25rem;
    }

    #about img {
        height: 10rem;
        margin-right: 1rem;
        border: 1px solid white;
    }

    #gallery img {
        min-height: 5rem;
        max-height: 10rem;
        margin: .5rem;
        border: 1px solid white;
    }

    .imagecontainer {
        margin: 1rem auto;
    }
    
    #events,
    #contact {
        padding: 1.25rem;
    }

    #events li {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #contact p {
        font-size: 1.25rem;
        padding: 0;
    }

    #copyright p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 555px) {

    nav #navlinks {
        display: none;
    }

    nav #navlinks a {
        font-size: 17px;
        padding: 14px 16px;
        display: block;
        text-align: left;
    }

    .icon-container {
        position: absolute;
        cursor: pointer;
        right: 15px;
        top: 10px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .banner {
        min-height: 20rem;
        background-position:left;
    }

    .overlay {
        min-height: 20rem;
        }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #about,
    #gallery,
    #events,
    #contact {
    padding: .75rem;
    }

    #gallery {
        padding-top: 4rem;
    }

    #about img {
        max-width: 100%;
        border: 1px solid white;
        margin-bottom: 1rem;
    }

    #gallery img {
        max-width: 100%;
        border: 1px solid white;
    }

    .imagecontainer {
        margin: 1rem auto;
        flex-direction: column;
    }

    #about {
        flex-direction: column;
    }

    #events li {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #contact p {
        font-size: 1rem;
        line-height: 1.25rem;
        padding: 0;
    }

    #copyright {
        padding: 1rem .5rem;
    }

    #copyright p {
        font-size: 0.75rem;
    }
}

